<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<title>angularjs demo1</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	</head>
	<body ng-app="ngShowcaseApp" controller="ctrl.show.progress" >
		<div ng-class="{progress: true, 'progress-striped': vm.striped}">
		  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
		    <div ng-if="vm.showLabel">{{vm.value}}%</div>
		  </div>
		</div>

		<h3>选项</h3>
		<label>进度：<input type="number" class="form-control" ng-model="vm.value"/></label>
		<button class="btn btn-primary" ng-click="vm.value=0">0%</button>
		<button class="btn btn-primary" ng-click="vm.value=20">20%</button>
		<button class="btn btn-primary" ng-click="vm.value=60">60%</button>
		<button class="btn btn-primary" ng-click="vm.value=100">100%</button>
		<hr/>
		<label>斑马纹<input type="checkbox" ng-model="vm.striped"/></label>
		<label>文字<input type="checkbox" ng-model="vm.showLabel"/></label>
		<hr/>
		<label>风格：
		  <select ng-model="vm.style" class="form-control">
		    <option value="progress-bar-success">progress-bar-success</option>
		    <option value="progress-bar-info">progress-bar-info</option>
		    <option value="progress-bar-danger">progress-bar-danger</option>
		    <option value="progress-bar-warning">progress-bar-warning</option>
		  </select>
		</label>
		
		
	<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		'use strict';
		angular.module('ngShowcaseApp').controller('ctrl.show.progress', function ($scope) {
		  var vm = $scope.vm = {};
		  vm.value = 50;
		  vm.style = 'progress-bar-info';
		  vm.showLabel = true;
		});
	</script>
	</body>
</html>
